.blog-masthead {
    background-color: #3f4347;
}

.nav-link {
    color: #999999;
}

.sidebar-module-inset {
    background-color: #ddd;
    border-radius: .25rem;
}

h4 {
    font-size: 1.2rem;
}

.blog-footer {
    padding: .4rem 0;
}

.discreteLink {
    color: dimgrey;
}

.nav-link.active:after {
    border-right: .6rem solid transparent;
    border-bottom: .6rem solid;
    border-left: .6rem solid transparent;
}