.blog-masthead {
    background-color: #3f4347;
}

.nav-link {
    color: #999999;
}

.sidebar-module-inset {
    background-color: #ddd;
    border-radius: .25rem;
}

h4 {
    font-size: 1.2rem;
}

.blog-footer {
    padding: .4rem 0;
}

.discreteLink {
    color: dimgrey;
}

.nav-link.active:after {
    border-right: .6rem solid transparent;
    border-bottom: .6rem solid;
    border-left: .6rem solid transparent;
}

.gist .gist-file {
    margin-bottom: 0px;
}

#datad-logo {
    font-family: Helvetica, Sans-Serif;
    font-size: 90px;
    line-height: 70px;
    color: rgb(0, 166, 224);
    font-weight: 500;
}

#datad-logo:after {
    content: "D";
    position: absolute;
    left: 32px;
    top: 18px;
    color: rgba(64, 222, 204, 0.7);    
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#datad-logo:hover {
    color: rgb(44, 104, 143);
}
    
